<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>368179806414-d7qq43oo5nlq6vk1c1ein080tut0j32e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368179806414-d7qq43oo5nlq6vk1c1ein080tut0j32e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368179806414-as4piuclbkarlfeptucgg8i3n4kb0bet.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBECZcD90uRfJ5ISu2wxTo3t1pgpSrJzB4</string>
	<key>GCM_SENDER_ID</key>
	<string>368179806414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wantedly.namecard-scanner-developer</string>
	<key>PROJECT_ID</key>
	<string>people-android</string>
	<key>STORAGE_BUCKET</key>
	<string>people-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368179806414:ios:78a526913e8a8118</string>
	<key>DATABASE_URL</key>
	<string>https://people-android.firebaseio.com</string>
</dict>
</plist>